<svg
  class="circle-decor"
  width="427"
  height="412"
  viewBox="-20 -20 467 452"
  xmlns="http://www.w3.org/2000/svg"
>
  <g class="orbit orbit--1">
    <circle
      cx="141.257"
      cy="277.164"
      r="134.836"
      transform="rotate(-180 141.257 277.164)"
      fill="#F1376C"
      fill-opacity="0.1"
    />
  </g>

  <g class="orbit orbit--2">
    <circle
      cx="51.3662"
      cy="51.3662"
      r="51.3662"
      transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 426.982 174.431)"
      fill="#F1376C"
      fill-opacity="0.1"
    />
  </g>

  <g class="orbit orbit--3">
    <circle
      cx="62.0675"
      cy="62.0675"
      r="62.0675"
      transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 324.249 3.73279e-05)"
      fill="#F1376C"
      fill-opacity="0.1"
    />
  </g>

  <g class="orbit orbit--4">
    <ellipse
      cx="46.5506"
      cy="46.0156"
      rx="46.5506"
      ry="46.0156"
      transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 93.1013 24.613)"
      fill="#F1376C"
      fill-opacity="0.1"
    />
  </g>
</svg>
