@if (visible()) {
  <a
    [class.bubble--with-label]="withLabel()"
    class="bubble bubble--float"
    href="https://booksy.com/pl-pl/dl/show-business/322870?utm_medium=c2c_referral"
    target="_blank"
    title="Rezerwacja za pośrednictwem platformy Booksy"
  >
    @if (withCloseButton()) {
      <button
        (click)="handleCloseClick($event)"
        class="absolute -right-2 -top-2 cursor-pointer rounded-full text-xs text-white bg-(--app-primary-dark) size-5 flex justify-center items-center"
      >
        <app-icon name="x-lg" />
      </button>
    }

    @if (withLabel()) {
      <span class="bubble__label">Rezerwacja</span>
    }

    <div class="size-10 lg:size-12 overflow-hidden rounded-full">
      <img ngSrc="/images/booksy.webp" height="450" width="450" alt="Zdjęcie logo Booksy" />
    </div>
  </a>
}
