<div
  (viewportEnter)="handleViewportEnter()"
  (viewportLeave)="handleViewportLeave()"
  appViewportEnter
  appViewportLeave
  class="absolute inset-0"
>
  <ng-content />

  <div class="absolute inset-0 flex">
    @for (column of columns(); track column) {
      <div
        [class.visible]="visible()"
        [style.transition-delay.ms]="columnTransitionDelayFor(column)"
        [style.transition-duration.ms]="columnTransitionDuration()"
        class="column flex-1"
      ></div>
    }
  </div>
</div>
